{
    "objectWrap": "collapse",
    "experimentalTernaries": true,
    "experimentalOperatorPosition": "start",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-jsdoc", "@trivago/prettier-plugin-sort-imports"],
    "tsdoc": true,
    "importOrderSortSpecifiers": true
}
